/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    min-height: 100vh;
}

/* header */
.header {
    /* border: solid yellow 1px; */
    padding: 29px;
    margin-bottom: 10px;

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* Grid styling */
.grid {
    /* border: solid red 1px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 41%;
    margin: auto;
}

.square {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 2px;
    border-radius: 2px;
}

.mole {
    background: url('./images.jpg');
    background-size: cover;
}

#start-btn {
    padding: 0px 5px;
    cursor: pointer;
}

/* Responsive design */
/* Media queries for mobile */
@media (max-width: 480px) {
    body {
        min-height: 100vh;
    }

    .header {
        /* border: 2px solid blue; */
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .grid {
        /* border: 2px solid blue; */
        min-width: 98%;
        display: flex;
        flex-wrap: wrap;
        margin: 50% auto;
    }

    .square {
        width: 100px;
        height: 80px;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .grid {
        /* border: 2px solid red; */
        min-width: 80%;
    }
    .square {
        width: 150px;
        height: 100px;
    }
}

/* Media queries for Tablet ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    .grid {
        /* border: solid yellow 1px; */
        min-width: 70%;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    .grid {
        /* border: solid green 1px; */
        min-width: 60%;
    }
}

/* Media query for large screens */
@media (min-width: 1281px) {
    .grid {
        /* border: solid black 1px; */
        min-width: 50%;
    }
}